.cardContainer {
  background-color: #194e68;
  width: 17vw;
  height: 17rem;
  margin: 1px 0 2px 0;
  display: flex;
  font-size: large;
  color: white;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding-bottom: 16px;
  

  /* border-top-left-radius: 20px;
border-top-right-radius: 10px;
border-bottom-right-radius: 50px;
border-bottom-left-radius: 30px;  */

border: groove 1em rgb(0, 255, 4);
  border-radius: 2em;


}

.infoConteiner {

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  height: 45%;
}

.cardImg {
  width: 40%;
}

.content {
  margin: 1rem 0 0 0;
}
